<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mealreminder"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="20" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="com.example.mealreminder.RemindMe"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/app_theme" >
        <activity
            android:name="com.example.mealreminder.MainActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.mealreminder.AddAlarmActivity"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity android:name="com.example.mealreminder.SettingsActivity" >
        </activity>

        <receiver android:name="com.example.mealreminder.AlarmSetter" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.example.mealreminder.AlarmReceiver" >
        </receiver>

        <service android:name="com.example.mealreminder.AlarmService" >
        </service>

        <activity
            android:name="com.example.mealreminder.Welcome"
            android:label="@string/title_activity_welcome" >
        </activity>
        <activity
            android:name="com.example.mealreminder.FirstActivity"
            android:label="@string/title_activity_first" >
        </activity>
        <activity
            android:name="com.example.mealreminder.SecondActivity"
            android:label="@string/title_activity_second" >
        </activity>
        <activity
            android:name="com.example.mealreminder.ThirdActivity"
            android:label="@string/title_activity_third" >
        </activity>
        <activity
            android:name="com.example.mealreminder.LoseWeight"
            android:label="@string/title_activity_lose_weight" >
        </activity>
        <activity
            android:name="com.example.mealreminder.GainWeight"
            android:label="@string/title_activity_gain_weight" >
        </activity>
        <activity
            android:name="com.example.mealreminder.FourthActivity"
            android:label="@string/title_activity_fourth" >
        </activity>
        <activity
            android:name="com.example.mealreminder.FifthActivity"
            android:label="@string/title_activity_fifth" >
        </activity>
        <activity
            android:name="com.example.mealreminder.SixthActivity"
            android:label="@string/title_activity_sixth" >
        </activity>
    </application>

</manifest>
